@using SportsClothes.UI.WEBAPP.Models
@using SportsClothes.UI.WEBAPP.Models.ViewModels
@using SportsClothes.UI.WEBAPP.Models.Dto
@using SportsClothes.INTERFACES
@using SportsClothes.CORE
@using SportsClothes.UI.WEBAPP.Models.FilterObjects
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime
@page "/producers"

<PageTitle>Producers</PageTitle>
<h1>Producers</h1>

<form @onsubmit="AddProducer">
    <div class="row mb-3">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="name">*Name:</label>
                <input id="name" class="form-control" @bind="_newProducer.Name" required minlength="3" maxlength="25" />
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="form-group">
                <label for="countryOfOrigin">*Country of origin:</label>
                <input id="countryOfOrigin" class="form-control" @bind="_newProducer.CountryOfOrigin" minlength="2" maxlength="25" required />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="form-group">
            <label for="description">*Description:</label>
            <textarea id="description" class="form-control" @bind="_newProducer.Description" maxlength="300" required>
            </textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-success mb-3">Add Producer</button>

</form>

<div class="row">
    <div class="col-xl-4 mb-3">
        <div class="form-group">
            <label for="search">Search:</label>
            <input id="search" class="form-control" @bind="_filter.SearchTerm" maxlength="25" />
        </div>
    </div>

    <div class="col-xl-3 mb-3">
        <div class="form-group">
            <label for="country">Country:</label>
            <input id="country" class="form-control" @bind="_filter.Country" maxlength="25" />
        </div>
    </div>

</div>

<div>
    <button class="btn btn-primary mb-4" @onclick="ApplyFilters">
        <i class="oi oi-magnifying-glass"></i> Search
    </button>
    <button class="btn btn-secondary mb-4" @onclick="ClearFilters">
        Clear Filters
    </button>
</div>

@if (_producers.Count == 0)
{
    <table class="table mb-5" style="table-layout: auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Country of origin</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7" class="text-center">
                    <span><strong>Sorry! We did not find any data for you.</strong></span>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="table mb-5" style="table-layout: auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Country of origin</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producer in _producers)
            {
                <tr>
                    <td>@producer.Name</td>
                    <td>@producer.Description</td>
                    <td>@producer.CountryOfOrigin</td>
                    <td>
                        <button class="btn btn-outline-primary" @onclick="() => GoToEditProducer(producer.Id)">
                            <i class="oi oi-pencil" aria-hidden="true"></i> Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" @onclick="() => DeleteProducer(producer.Id)">
                            <i class="oi oi-circle-x" aria-hidden="true"></i> Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<ProducerViewModel> _producers = new List<ProducerViewModel>();
    private IProducerDto _newProducer = new ProducerDto();
    private IProducerFilter _filter = new ProducerFilter();

    protected override async Task OnInitializedAsync()
    {
        await LoadProducers();
    }

    private async Task LoadProducers()
    {
        try
        {
            var response = await HttpClient.GetFromJsonAsync<IList<ProducerViewModel>>("api/producers");

            if (response != null)
            {
                _producers = response.OrderByDescending(p => p.Id).ToList();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task AddProducer()
    {
        var response = await HttpClient.PostAsJsonAsync("api/producers/create", _newProducer);

        if (!response.IsSuccessStatusCode)
            await Popup(await response.Content.ReadAsStringAsync());
        else
            _newProducer = new ProducerDto();

        await LoadProducers();
    }

    private async Task DeleteProducer(int id)
    {
        var confirmed = await ConfirmPopup();

        if (!confirmed)
            return;

        var result = await HttpClient.DeleteAsync($"api/producers/delete/{id}");

        if (!result.IsSuccessStatusCode)
            await Popup("Failed to delete producer. Please try again later.");

        await LoadProducers();
    }

    private void GoToEditProducer(int id)
    {
        Navigation.NavigateTo($"/producers/{id}");
    }

    private async Task ApplyFilters()
    {
        var response = await HttpClient.PostAsJsonAsync("api/producers/filter", _filter);

        if (!response.IsSuccessStatusCode)
        {
            await Popup(await response.Content.ReadAsStringAsync());
            return;
        }

        var result = await response.Content.ReadFromJsonAsync<IList<ProducerViewModel>>();
        _producers = result.OrderByDescending(p => p.Id).ToList();
    }

    private async Task ClearFilters()
    {
        _filter = new ProducerFilter();
        await LoadProducers();
    }

    private async Task Popup(string message)
    {
        await JsRuntime.InvokeVoidAsync("alert", message);
    }

    private async Task<bool> ConfirmPopup()
    {
        return await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete producer?");
    }
}
